.card-container {

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-left: 100px;
}

.card {

    flex-direction: column;
    background: var(--cor-do-texto);
    padding: 1rem;
    width: 14rem;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px grey;

    transition: .2s ease;
    cursor: pointer;



}

.card:hover {
    background: var(--cor-de-fundo);
    transform: scale(1.1);

}

.card:hover .desc {
    color: var(--cor-do-texto);
    font-weight: 500;
}

.card:hover .title {
    color: var(--cor-terciária);
}

.card:hover .price {
    background: var(--cor-terciária);
    color: var(--cor-de-fundo);
}

.card .img-container {
    box-sizing: border-box;
    position: relative;
}

.card img {

    width: 14rem;
    max-height: 10rem;
    border-radius: 1rem;
    position: relative;
    margin: none;
    box-sizing: border-box;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;

}

.title {
    text-transform: capitalize;
    color: var(--cor-secundária);
    position: relative;
    font-size: 1rem;
}

.desc {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

span {
    color: var(--cor-de-fundo);

}

.price {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0rem 1rem 0rem 1rem;
    width: 12rem;
    color: var(--cor-do-texto);
    background-color: var(--cor-secundária);
    clip-path: polygon(0% 0%, 75% 0%, 65% 50%, 75% 100%, 0% 100%);
}