.cat-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: auto;

    max-width: 90vw;

    justify-self: center;


    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    & li {
        scroll-snap-align: center;
    }


}

.cat-wrapper:active {
    cursor: grabbing;
}

.container {
    display: flex;

    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 50vw;

}

.container::-webkit-scrollbar {
    display: none;
}

.cat2 {

    align-self: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundária);
    color: var(--cor-terciária);
    padding: 1rem;
    transition: ease .2s;
    overflow: hidden;
    cursor: grab;
    scroll-snap-align: center;
}

.cat2 h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.cat2:hover {
    transform: scale(1.1);

}

.cat2 img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.l-btn,
.r-btn {


    position: relative;
    padding: 1rem;

    border-radius: 2rem;
    margin: 1rem;
    transition: ease .2s;
    box-shadow: 1px 1px 10px grey;
}

.l-btn::after .cat2 {
    left: 10vw;
}

.r-btn:active .cat2 {
    right: 20vw;
}

.r-btn {
    position: absolute;
    right: 1rem;
}

.l-btn:hover,
.r-btn:hover {
    transform: scale(1.1);
}

/* Styling both navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    background-color: var(--cor-de-fundo);
    /* Background color */
    width: 2rem;
    /* Box width */
    height: 2rem;
    box-shadow: 1px 1px 5px grey;
    align-self: center;
    justify-self: center;
    position: absolute;
    padding: 1rem;
    /* Box height */
    border-radius: 2rem;

    /* Arrow color */
}